<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>app.seshctl.Seshctl</string>
	<key>CFBundleName</key>
	<string>Seshctl</string>
	<key>CFBundleDisplayName</key>
	<string>Seshctl</string>
	<key>CFBundleExecutable</key>
	<string>SeshctlApp</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 Julian Lo. All rights reserved.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Seshctl uses AppleScript to focus your terminal and browser tabs when you switch sessions.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://julo15.github.io/seshctl/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>F4/VhM3Q5l8wA+tmnHddVXof90az48InIFONlDtICHw=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
